.navbar_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar_wrapper {
  width: 1200px;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.logo {
  width: 92px;
  height: 32px;
  font-family: var(--secondary_font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: var(--color_secondary_text);
}
