.topbar_container {
  width: 100%;
  background-color: var(--color_primary);
}
.topbar_wrapper {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin: 0 120px;
}
.topbar_content {
  display: flex;
  height: 32px;
  align-items: center;
}
.topbar_item {
  font-family: var(--primary_font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: var(--color_white);
  cursor: pointer;
}
.topbar_item:first-child {
  margin-right: 26px;
}
