.footer_container {
  width: 100%;
  height: 209px;
  background: var(--color_primary);
}
.footer_top-content {
  display: flex;
  align-items: center;
}
.footer_logo {
  font-family: var(--secondary_font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #ffffff;
}
.footer_nav {
  height: 32px;
  width: 350px;
}
.footer_nav .nav-item {
  color: #ffffff;
  font-size: 13px;
}
/* .footer_container .social_item svg {
  width: 18px;
  height: 18px;
  color: #fff;
  border-radius: 50%;
  padding: 2px;
} */
